<fieldset>
  <legend>New Note</legend>
  <%= form_for([note.object, note], html: { class: 'form-horizontal' }) do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :type %>
      <%= f.hidden_field :owner_id %>

      <div class="form-group">
        <%= f.label t(:label_note), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note , class: 'form-control ckeditor' %>
        </div>
      </div>
      <div class="form-group" >
        <div class="col-md-11">
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>

