<fieldset>
  <legend>position</legend>
  <%= form_for(position, html: { class: 'form-horizontal' }) do |f| %>
      <% if position.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

            <ul>
              <% position.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <%= f.hidden_field :user_id %>


      <div class="form-group">
        <%= f.label :title, class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :position_description, class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :position_description , class: 'form-control ckeditor' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :location , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :location_type_id, LocationType.active.pluck(:name, :id), {} , {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('departments'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :department_id, options_for_select(Department.all.map{|dep| [dep.department_type, dep.id] }, selected: position.department_id), {},{ class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :special_requirement , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :special_requirement , class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :salary , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :salary , class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :note , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note , class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :date_start , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_start, class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :date_end , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_end , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :files , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <% if @position.files_url %>
              <%=  link_to( @position.read_attribute(:files)  , @position.files_url)  %>
              <%= link_to "<i class='fa fa-trash-o' ></i>".html_safe, delete_file_position_path(@position) %>
          <% end %>
          <%= f.file_field :files %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), positions_path, class: 'btn btn-warning pull-right' %>
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>
