
<h1>Positions</h1>

<%= link_to('New Position', new_position_path, class:'btn btn-primary pull-right') if can?(:create_positions, :manage_positions, :manage_roles) %>
<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Special requirement</th>
    <th>Date start</th>
    <th>Date end</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% if @positions.any? %>
      <% @positions.each do |position| %>
          <tr>
            <td><%= link_to position.title, position %></td>
            <td><%= position.location %></td>
            <td><%= position.special_requirement %></td>
            <td><%= position.date_start %></td>
            <td><%= position.date_end %></td>
            <td><%= edit_link(edit_position_path(position))  if position.can?(:edit_positions, :manage_positions) %></td>
            <td><%= delete_link(position)  if position.can?(:delete_positions, :manage_positions)%></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>

