<p id="notice"><%= notice %></p>

<h1>Positions</h1>

<%= link_to 'New Position', new_position_path, class:'btn btn-primary pull-right'%>
<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Position description</th>
    <th>Location</th>
    <th>Special requirement</th>
    <th>Note</th>
    <th>Date start</th>
    <th>Date end</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% if @positions.any? %>
      <% @positions.each do |position| %>
          <tr>
            <td><%= position.user %></td>
            <td><%= position.title %></td>
            <td><%= position.position_description %></td>
            <td><%= position.location %></td>
            <td><%= position.special_requirement %></td>
            <td><%= position.note %></td>
            <td><%= position.date_start %></td>
            <td><%= position.date_end %></td>
            <td><%= edit_link edit_position_path(position) %></td>
            <td><%= delete_link position %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>

