<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete',  position_path(@position), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to 'Edit', edit_position_path(@position), class: 'btn btn-success pull-right' %>
  <%= link_to t('button_cancel'), positions_path, class: 'btn btn-warning pull-right' %>
</div>
<div class="col-xs-12">

  <p>
    <strong>Title:</strong>
    <%= @position.title %>
  </p>

  <p>
    <strong>Position description:</strong>
    <%= @position.position_description.html_safe %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @position.location %>
  </p>
 <p>
    <strong>Salary:</strong>
    <%= @position.salary %>
  </p>

  <p>
    <strong>Special requirement:</strong>
    <%= @position.special_requirement %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @position.note.html_safe %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= @position.date_start %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= @position.date_end %>
  </p>

  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @position.position_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>

</div>