<h2>Edit <%= resource_name.to_s.humanize %></h2>

<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= render partial: 'edit_password',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'password',
                     wid_title: 'Change password'
                 } %>
      <% if current_user.job_detail %>
          <%= render partial: 'job_details/info',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'job_detail_info',
                         wid_title: "Department Info: #{ current_user.job_detail.role}",
                         job_detail: current_user.job_detail
                     } %>
      <% end %>
    </article>
      <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= render partial: 'core_demographics/form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'profile',
                     wid_title: 'profile',
                     core_demographic: @core_demographic
                 } %>
    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'extend_demographies/form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'extend_demography',
                     wid_title: 'More informations',
                     extend_demography: current_user.extend_informations
                 } %>
    </article>

  </div>
</section>
