<div class="nested-fields row">
  <fieldset>

    <div class="col-md-12">
      <%= link_to_remove_association "remove", f, class: 'btn btn-warning pull-right' %>

      <div class="form-group col-md-12">
        <%= f.label :social_media_type_id , class: 'col-md-2 control-label' %>
        <div class="col-md-8">
          <%= f.select :social_media_type_id, options_for_select(SocialMediaType.active.pluck(:name, :id), selected: f.object.social_media_type.try(:id) ), {}, {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group col-md-12">
        <%= f.label :social_media_handle , class: 'col-md-2 control-label' %>
        <div class="col-md-8">
          <%= f.text_field :social_media_handle , class: 'form-control' %>
        </div>
      </div>

      <div class="form-group col-md-12">
        <%= f.label t('label_note'), class: 'col-md-2 control-label' %>
        <div class="col-md-8">
          <%= f.text_area :note, class: 'form-control' %>
        </div>
      </div>

    </div>

  </fieldset>
</div>
