<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @extend_demography.user %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @extend_demography.identification %>
</p>

<%= link_to 'Edit', edit_extend_demography_path(@extend_demography) %> |
<%= link_to 'Back', extend_demographies_path %>
