<fieldset>
  <legend>Skill</legend>
  <%= simple_form_for(other_skill, html: { class: 'form-horizontal' }) do |f| %>
      <% data = other_skill
         if data.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(data.errors.count, "error") %> :</h2>

            <ul>
              <% data.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= f.hidden_field :user_id %>

      <div class="form-group">
        <%= f.label t(:other_skill), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label t('education_date_received'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_received , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:education_date_expired), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_expired , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:label_note) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note , class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:attachment), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%  if other_skill.file_url %>
              <%= link_to(other_skill.read_attribute(:file), other_skill.file_url) %>
              <%= link_to "<i class='fa fa-trash-o' ></i>".html_safe, delete_file_other_skill_path(other_skill) %>
          <% end %>
          <%= f.file_field :file %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), other_skills_path, class: 'btn btn-warning pull-right' %>
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>
