<%= link_to 'Delete', other_skill_path(@other_skill), class: 'btn btn-danger pull-right'  %>
<%= link_to 'Edit', edit_other_skill_path(@other_skill), class: 'btn btn-success pull-right' %>
<div class="col-xs-12">

  <p>
    <strong>name:</strong>
    <%= @other_skill.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @other_skill.user %>
  </p>

  <p>
    <strong>Date received:</strong>
    <%= @other_skill.date_received %>
  </p>

  <p>
    <strong>Date expired:</strong>
    <%= @other_skill.date_expired %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @other_skill.note %>
  </p>
  <p>
    <strong>File:</strong>
    <%= @other_skill.file_url %>
  </p>


</div>