<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete', other_skill_path(@other_skill), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to 'Edit', edit_other_skill_path(@other_skill), class: 'btn btn-success pull-right' %>
  <%= link_to t('button_cancel'), other_skills_path, class: 'btn btn-warning pull-right' %>
</div>
<div class="col-xs-12">

  <p>
    <strong>name:</strong>
    <%= @other_skill.name %>
  </p>

  <p>
    <strong>Date received:</strong>
    <%= @other_skill.date_received %>
  </p>

  <p>
    <strong>Date expired:</strong>
    <%= @other_skill.date_expired %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @other_skill.note.html_safe %>
  </p>

  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @other_skill.skill_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>


</div>