<li>
  <a href="#" id="ul_menu"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">Administration</span></a>
  <ul id="admin_menu">
    <li>
      <%= link_to "Users", users_path %>
    </li>
    <li>
      <%= link_to "Enumeration", enumerations_path %>
    </li>
    <li>
      <%= link_to "Roles", roles_path %>
    </li>
    <li>
      <a href="<%= organizations_path %>" title="<%= t(:organizations) %>"> <span class="menu-item-parent"><%= t(:organizations) %></span></a>
    </li>
    <li>
      <a href="<%= departments_path %>" title="<%= t(:departments) %>"><span class="menu-item-parent"><%= t(:departments) %></span></a>
    </li>
   <li>
      <a href="<%= checklist_templates_path %>" title="<%= t(:checklists) %>"><span class="menu-item-parent"><%= t(:checklists) %></span></a>
    </li>
    <li>
      <a href="<%= home_pivottable_path %>" title="<%= 'Pivot table' %>"><span class="menu-item-parent"><%= 'Pivot table' %></span></a>
    </li>
    <li>
      <%= link_to "Setting", settings_path %>
    </li>

  </ul>
</li>