<ul>
  <li class="<%= menu_active?('devise/registrations') %>">
    <a href="<%= edit_user_registration_path %>" title="<%= t('profile.profile') %>"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent"><%= t('profile.profile') %></span></a>
  </li>

   <li class="<%= menu_active?('educations') %>">
    <a href="<%= my_educations_path %>" title="<%= t(:educations) %>"><i class="fa fa-lg fa-fw fa-graduation-cap"></i> <span class="menu-item-parent"><%= t(:educations) %></span></a>
  </li>

   <li class="<%= menu_active?('organizations') %>">
    <a href="<%= organizations_path %>" title="<%= t(:organizations) %>"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent"><%= t(:organizations) %></span></a>
  </li>

   <li class="<%= menu_active?('documents') %>">
    <a href="<%= documents_path %>" title="<%= t(:documents) %>"><i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent"><%= t(:documents) %></span></a>
  </li>

   <li class="<%= menu_active?('positions') %>">
    <a href="<%= positions_path %>" title="<%= t(:positions) %>"><i class="fa fa-lg fa-fw fa-sort"></i> <span class="menu-item-parent"><%= t(:positions) %></span></a>
  </li>

   <li class="<%= menu_active?('departments') %>">
    <a href="<%= departments_path %>" title="<%= t(:departments) %>"><i class="fa fa-lg fa-fw fa-university"></i> <span class="menu-item-parent"><%= t(:departments) %></span></a>
  </li>

   <li class="<%= menu_active?('contacts') %>">
    <a href="<%= contacts_path %>" title="<%= t(:contacts) %>"><i class="fa fa-lg fa-fw fa-sitemap"></i> <span class="menu-item-parent"><%= t(:contacts) %></span></a>
  </li>

  <% if current_user.admin? %>
    <%= render partial: 'menu/admin' %>
  <% end %>
</ul>