<ul>
  <li class="<%= menu_active?('employees') %>">
    <a href="<%= employee_path(User.current) %>" title="<%= t('profile.profile') %>"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent"><%= t('profile.profile') %></span></a>
  </li>

  <% if can?(:manage_roles) %>
      <li class="<%= menu_active?('employees') %>">
        <a href="<%= employees_path %>" title="<%= t 'label_search' %>"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent"><%= t :label_search %></span></a>
      </li>
  <% end %>

  <li class="<%= menu_active?('educations') %>">
    <a href="<%= employee_educations_path(User.current) %>" title="<%= t(:educations) %>"><i class="fa fa-lg fa-fw fa-graduation-cap"></i> <span class="menu-item-parent"><%= t(:educations) %></span></a>
  </li>

  <li class="<%= menu_active?('languages') %>">
    <a href="<%= employee_languages_path(User.current) %>" title="<%= t(:languages) %>"><i class="fa fa-lg fa-fw fa-language"></i> <span class="menu-item-parent"><%= t(:languages) %></span></a>
  </li>


  <li class="<%= menu_active?('other_skills') %>">
    <a href="<%= employee_other_skills_path(User.current) %>" title="<%= t(:other_skills) %>"><i class="fa fa-lg fa-fw fa-plus"></i> <span class="menu-item-parent"><%= t(:other_skills) %></span></a>
  </li>

  <li class="<%= menu_active?('certifications') %>">
    <a href="<%= employee_certifications_path(User.current) %>" title="<%= t(:certifications) %>"><i class="fa fa-lg fa-fw fa-certificate"></i> <span class="menu-item-parent"><%= t(:certifications) %></span></a>
  </li>

  <li class="<%= menu_active?('clearances') %>">
    <a href="<%= employee_clearances_path(User.current) %>" title="<%= t(:clearences) %>"><i class="fa fa-lg fa-fw fa-eraser"></i> <span class="menu-item-parent"><%= t(:clearences) %></span></a>
  </li>

  <li class="<%= menu_active?('documents') %>">
    <a href="<%= employee_documents_path(User.current) %>" title="<%= t(:documents) %>"><i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent"><%= t(:documents) %></span></a>
  </li>
  <li class="<%= menu_active?('positions') %>">
    <a href="<%= employee_positions_path(User.current) %>" title="<%= t(:positions) %>"><i class="fa fa-lg fa-fw fa-sort"></i> <span class="menu-item-parent"><%= t(:positions) %></span></a>
  </li>

  <li class="<%= menu_active?('contacts') %>">
    <a href="<%= employee_contacts_path(User.current) %>" title="<%= t(:contacts) %>"><i class="fa fa-lg fa-fw fa-sitemap"></i> <span class="menu-item-parent"><%= t(:contacts) %></span></a>
  </li>
</ul>