<h1>Tasks</h1>

<%= link_to('New Task', new_task_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_tasks, :manage_tasks, :manage_roles) %>
<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>Title</th>
    <th>Task type</th>
    <th>Priority</th>
    <th>Assigned to</th>
    <th>For individual</th>
    <th>Date start</th>
    <th>Date due</th>
    <th>Date completed</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% if @tasks.any? %>
      <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to task.title, task %></td>
            <td><%= task.task_type %></td>
            <td><%= task.priority_type %></td>
            <td><%= task.assigned_to %></td>
            <td><%= task.for_individual %></td>
            <td><%= task.date_start %></td>
            <td><%= task.date_due %></td>
            <td><%= task.date_completed %></td>
            <td><%= edit_link(edit_task_path(task))  if task.can?(:edit_tasks, :manage_tasks) %></td>
            <td><%= delete_link(task)  if task.can?(:delete_tasks, :manage_tasks)%></td>
          </tr>
      <% end %>

  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>