<%= render 'action_menu' %>
<div class="col-xs-12">
  <p>
    <strong>Title:</strong>
    <%= @task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @task.description.html_safe %>
  </p>

  <p>
    <strong>Task type:</strong>
    <%= @task.task_type%>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= @task.priority_type %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= @task.assigned_to %>
  </p>

  <p>
    <strong>For individual:</strong>
    <%= @task.for_individual %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= @task.date_start %>
  </p>

  <p>
    <strong>Date due:</strong>
    <%= @task.date_due %>
  </p>

  <p>
    <strong>Date completed:</strong>
    <%= @task.date_completed %>
  </p>
  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @task.task_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>
</div>
<% if @tasks.any? %>
    <section id="widget-grid" class="checklists_account">
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'sub_tasks',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'subtasks',
                         wid_title: 'Sub tasks'
                     } %>
        </article>
      </div>
    </section>
<% end %>
<% if can?(:manage_roles, :view_notes) %>
    <%= render 'notes' %>
<% end %>