<%= form_for(language, html: { class: 'form-horizontal' }) do |f| %>
    <% if language.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(language.errors.count, "error") %> </h2>

          <ul>
            <% language.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <legend><%= t :language %></legend>

      <%= f.hidden_field :user_id %>
      <div class="form-group">
        <%= f.label t('language'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :language_type_id, options_for_select(LanguageType.pluck(:name, :id), selected: language.language_type_id), {},{ class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('proficiency'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :proficiency_id, options_for_select(ProficiencyType.pluck(:name, :id), selected: language.proficiency_id), {},{ class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:label_note) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note , class: 'form-control ckeditor' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
        </div>
        <%= f.simple_fields_for :language_attachments do |attachment| %>
            <%= render 'attachments/attachment_show', :f => attachment %>
        <% end %>
        <div id="attachment_fields" class="col-md-2 margin-top-10 " style="padding-right: 2px;" >
          <%= link_to_add_association 'add file', f, :language_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), languages_path, class: 'btn btn-warning pull-right' %>
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </fieldset>
<% end %>

