<p id="notice"><%= notice %></p>

<h1>Languages</h1>


<%= link_to('New Language', new_language_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_languages, :manage_roles, :manage_languages) %>

<table class="table table-responsive table-bordered">
  <thead>
  <tr>
    <th>Language type</th>
    <th>Proficiency</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% if @languages.any?  %>
      <% @languages.each do |language| %>
          <tr>
            <td><%= link_to language.language_type, language %></td>
            <td><%= language.proficiency_type %></td>
            <td><%= language.updated_at.strftime("%d/%m/%y") %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
