
<table class="table table-responsive table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>Priority</th>
    <th>Type</th>
    <th>Status</th>
    <th>Category</th>
    <th>Date start</th>
    <th>Date due</th>
    <th>Date complete</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if @cases.any? %>
      <% @cases.each do |c| %>
          <tr>
            <td><%= link_to(c.title, case_path(c) ) %></td>
            <td><%= c.priority_type %></td>
            <td><%= c.case_type %></td>
            <td><%= c.case_status_type %></td>
            <td><%= c.case_category_type %></td>
            <td><%= c.date_start %></td>
            <td><%= c.date_due %></td>
            <td><%= c.date_completed %></td>
            <td><%= edit_link edit_case_path(c) %></td>
            <td><%= delete_link c %></td>
            <% if params[:action] == 'show' %>
               <td><%= link_to '<i class="fa fa-unlink"></i>'.html_safe, delete_sub_case_relation_case_path(c) %></td>
            <% end %>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>