<div class="col-xs-12">
  <p>
    <strong>Title:</strong>
    <%= @case.title %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= @case.priority_type %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @case.case_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @case.case_status_type %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @case.case_category_type %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= @case.date_start %>
  </p>

  <p>
    <strong>Date due:</strong>
    <%= @case.date_due %>
  </p>

  <p>
    <strong>Date complete:</strong>
    <%= @case.date_completed %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @case.note.to_s.html_safe %>
  </p>
</div>