<div class="col-xs-12">
  <p>
    <strong>Title:</strong>
    <%= @case.title %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= @case.priority_type %>
  </p>

  <p>
    <strong>Case type:</strong>
    <%= @case.case_type %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= @case.date_start %>
  </p>

  <p>
    <strong>Date due:</strong>
    <%= @case.date_due %>
  </p>

  <p>
    <strong>Date complete:</strong>
    <%= @case.date_completed %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= @case.assigned_to %>
  </p>
</div>