<div class="col-xs-12 btn-edition">
  <%= link_to('Delete', case_path(@case), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if can?(:manage_roles, :delete_cases)
  %>
  <%= link_to(t('button_edit'), edit_case_path(@case), class: 'btn btn-success pull-right') if can?(:manage_roles, :edit_cases) %>
  <%= link_to(t('button_cancel'), cases_path, class: 'btn btn-warning pull-right') %>
  <%= link_to(t('button_print'), case_path(@case, format: 'pdf'), class: 'btn btn-primary pull-right') %>
  <%#= link_to('Add relation', new_relation_case_path(@case), class: 'btn btn-primary pull-right') if can?(:manage_roles, :add_cases)  %>
  <%= link_to 'Unlink', delete_sub_case_relation_case_path(@case), class: 'btn btn-primary pull-right' if @case.subcase_id %>
</div>

<section id="widget-grid" class="checklists_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         wid_id: 'info',
                         wid_title: 'case'
                 } %>
    </article>
  </div>
</section>

<%= link_to('Add subCase', new_case_path(subcase_id: @case.id), class: 'btn btn-primary pull-right btn-edition') if can?(:manage_roles, :add_cases)  %>
<section id="widget-grid" class="relations_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         wid_id: 'subcases',
                         wid_title: 'Sub cases'
                 } %>
    </article>
  </div>
</section>

<%= link_to 'New note', new_note_path(type: 'CaseNote', owner_id: @case.id), class: 'btn btn-primary pull-right btn-edition' %>
<section id="widget-grid" class="form_note_list">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'notes/notes',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         notes: @notes,
                         wid_id: 'note_lists',
                         wid_title: 'Notes'
                 } %>
    </article>
  </div>
</section>

<% if module_enabled?('tasks') %>
    <%= link_to( 'New task', new_task_path(related_to: @case.id, type: 'case'), class: 'btn btn-primary pull-right btn-edition') if User.current.can?(:create_tasks, :manage_roles) %>
    <section id="widget-grid" class="checklists_account">
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'tasks/sub_tasks',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                             wid_id: 'tasks',
                             wid_title: 'tasks'
                     } %>
        </article>
      </div>
    </section>
<% end %>

<% if module_enabled?('documents') %>
    <%= link_to('New document', new_document_path(related_to: @case.id, type: 'case'), class: 'btn btn-primary pull-right btn-edition') if User.current.can?(:create_documents, :manage_roles) %>
    <section id="widget-grid" class="checklists_account">
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'documents/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                             documents: @documents,
                             wid_id: 'documents',
                             wid_title: 'documents'
                     } %>
        </article>
      </div>
    </section>
<% end %>

<% if module_enabled?('surveys') %>
    <%= link_to 'New survey', new_assign_survey_case_path(@case.id), class: 'btn btn-primary pull-right btn-edition' %>
    <section id="widget-grid" class="checklists_account">
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'surveys/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                             wid_id: 'surveys',
                             wid_title: 'surveys'
                     } %>
        </article>
      </div>
    </section>
<% end %>
<% if module_enabled?('checklists') %>
    <%= link_to 'New checklist', new_assign_case_path(@case.id), class: 'btn btn-primary pull-right btn-edition' %>
    <section id="widget-grid" class="checklists_account">
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'checklists/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                             wid_id: 'checklists',
                             wid_title: 'checklists'
                     } %>
        </article>
      </div>
    </section>

<% end %>
