<div class="col-xs-12 btn-edition">
  <%= link_to('Delete', case_path(@case), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if can?(:manage_roles, :delete_cases)
  %>
  <%= link_to(t('button_edit'), edit_case_path(@case), class: 'btn btn-success pull-right') if can?(:manage_roles, :edit_cases) %>
  <%= link_to(t('button_cancel'), cases_path, class: 'btn btn-warning pull-right') %>
  <%= link_to(t('button_print'), case_path(@case, format: 'pdf'), class: 'btn btn-primary pull-right') %>
</div>

<div class="col-xs-12">
  <p>
    <strong>Title:</strong>
    <%= @case.title %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= @case.priority_type %>
  </p>

  <p>
    <strong>Case type:</strong>
    <%= @case.case_type %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= @case.date_start %>
  </p>

  <p>
    <strong>Date due:</strong>
    <%= @case.date_due %>
  </p>

  <p>
    <strong>Date complete:</strong>
    <%= @case.date_completed %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= @case.assigned_to %>
  </p>
</div>