<%= form_for(entended_demographic) do |f| %>
  <% if entended_demographic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entended_demographic.errors.count, "error") %> prohibited this entended_demographic from being saved:</h2>

      <ul>
      <% entended_demographic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identification_id %>
    <%= f.number_field :identification_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
