<p id="notice"><%= notice %></p>

<h1>Entended Demographics</h1>

<table>
  <thead>
    <tr>
      <th>Identification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entended_demographics.each do |entended_demographic| %>
      <tr>
        <td><%= entended_demographic.identification_id %></td>
        <td><%= link_to 'Show', entended_demographic %></td>
        <td><%= link_to 'Edit', edit_entended_demographic_path(entended_demographic) %></td>
        <td><%= link_to 'Destroy', entended_demographic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entended Demographic', new_entended_demographic_path %>
