<%#= error_messages_for '@enumeration' %>
<% if @enumeration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enumeration.errors.count, "error") %> prohibited this enumeration from being saved:</h2>

      <ul>
        <% @enumeration.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="form-group">
  <%= f.label t(:label_name), class: 'col-md-2 control-label' %>
  <div class="col-md-9">
    <%= f.text_field :name , class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:label_active), class: 'col-md-2 control-label' %>
  <div class="col-md-9">
    <%= f.check_box :active, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:label_default), class: 'col-md-2 control-label' %>
  <div class="col-md-9">
    <%= f.check_box :is_default, class: 'form-control' %>
  </div>
</div>
