<%= form_for(department, html: { class: 'form-horizontal' }) do |f| %>
    <% if department.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

          <ul>
            <% department.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <%= f.hidden_field :user_id %>
    <div class="form-group">
      <%= f.label :department_type, class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.select :department_type_id, options_for_select(DepartmentType.active.pluck(:name, :id), selected: department.department_type_id), {},{ class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t('organization'), class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.select :organization_id, options_for_select(Organization.all.map{|dep| [dep.name, dep.id] }.insert(0, ['']), selected: department.organization_id), {},{ class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :note , class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.text_area :note , class: 'form-control ckeditor' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date_start , class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :date_start, class: 'form-control date_picker' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date_end , class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :date_end, class: 'form-control date_picker' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
      </div>
      <%= f.simple_fields_for :department_attachments do |attachment| %>
          <%= render 'attachments/attachment_show', :f => attachment %>
      <% end %>
      <div id="attachment_fields" class="col-md-2 margin-top-10 " style="padding-right: 2px;" >
        <%= link_to_add_association 'add file', f, :department_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
      </div>
    </div>
    <div class="form-group" >
      <div class="col-md-11">
        <%= link_to t('button_cancel'), departments_path, class: 'btn btn-warning pull-right' %>
        <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
      </div>
    </div>
<% end %>
