<fieldset>
  <legend>Contact</legend>
  <%= form_for(contact, html: { class: 'form-horizontal' }) do |f| %>
      <% if contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
              <% contact.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= f.hidden_field :user_id %>
      <div class="form-group">
        <%= f.label t('enumeration_contact_type'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :contact_type_id, options_for_select(ContactType.active.pluck(:name, :id), selected: contact.contact_type_id), {},{ class: 'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label t('profile.first_name'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :first_name, placeholder: 'First name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('profile.middle_name'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :middle_name, placeholder: 'Middle name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('profile.last_name'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :emergency_contact, class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :emergency_contact, [['Yes', true], ['No', false]] ,{},  {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :note , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>