<table class="table table-bordered table-responsive">
  <thead>
  <tr>

    <th>User</th>
    <th>Emergency contact</th>
    <th>Contact</th>
    <th>Note</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if contacts.any? %>
      <% contacts.each do |contact| %>
          <tr>
            <td><%= contact.user %></td>
            <td><%= contact.emergency_contact %></td>
            <td><%= contact.contact_type %></td>
            <td><%= contact.note %></td>
            <td><%= edit_link(edit_contact_path(contact)) if contact.can?(:edit_contacts, :manage_contacts) %></td>
            <td><%= delete_link( contact) if contact.can?(:delete_contacts, :manage_contacts) %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>