<div class="col-xs-12 btn-edition">
<%= link_to 'Delete',  contact_path(@contact), class: 'btn btn-danger pull-right',
            :method => :delete,
            :data => {:confirm => t(:text_are_you_sure)}
%>
<%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-success pull-right' %>
<%= link_to t('button_cancel'), contacts_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), contact_path(@contact, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>
<div class="col-xs-12">
  <p>
    <strong>Emergency contact:</strong>
    <%= @contact.emergency_contact %>
  </p>


  <p>
    <strong>First name:</strong>
    <%= @contact.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= @contact.middle_name %>
  </p>
  <p>
    <strong>Last name:</strong>
    <%= @contact.last_name %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @contact.note.html_safe %>
  </p>


  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @contact.contact_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>

  <%= render_extend_demography_information(@contact.contact_extend_demography) %>
</div>
