
<fieldset>
  <legend></legend>
  <%= form_for(document, html: { class: 'form-horizontal',  :multipart => true}) do |f| %>
      <% if document.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

            <ul>
              <% document.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :user_id %>

      <%= f.hidden_field :related_to_type %>
      <%= f.hidden_field :related_to_id %>

      <div class="form-group">
        <%= f.label t(:title), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :title , class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:description) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description , class: 'form-control ckeditor' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:document_type), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :document_type_id, options_for_select(DocumentType.active.pluck(:name, :id), selected: document.document_type_id) , {} ,{class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:date) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <%= f.label t(:attachments) , class: 'col-md-2 control-label' %>
        </div>
        <%= f.simple_fields_for :document_attachments do |attachment| %>
            <%= render 'attachments/attachment_show', :f => attachment %>
        <% end %>
        <div id="attachment_fields" class="col-md-2 margin-top-10 " style="padding-right: 2px;" >
          <%= link_to_add_association 'add file', f, :document_attachments, class: 'btn btn-success pull-right', partial: 'attachments/attachment_fields' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), :back, class: 'btn btn-warning pull-right' %>
          <%= f.submit t(:button_save), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>