
<fieldset>
  <legend></legend>
  <%= form_for(document, html: { class: 'form-horizontal',  :multipart => true}) do |f| %>
      <% if document.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

            <ul>
              <% document.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :user_id %>

      <div class="form-group">
        <%= f.label t(:title), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :title , class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:description) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :description , class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:document_type), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :document_type_id, options_for_select(DocumentType.active.pluck(:name, :id), selected: document.document_type_id) , {} ,{class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:date) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:attachment), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%  if document.attachment_url %>
              <%=  link_to( document.read_attribute(:attachment)  , document.attachment_url)%>
              <%= link_to "<i class='fa fa-trash-o' ></i>".html_safe, delete_file_document_path(document) %>
          <% end %>
          <%= f.file_field :attachment %>
        </div>
      </div>
      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), documents_path, class: 'btn btn-warning pull-right' %>
          <%= f.submit t(:button_save), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>