<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th><%= t(:title) %></th>
    <th><%= t(:document_type)%></th>
    <th><%= ( :date) %></th>
   </tr>
  </thead>

  <tbody>
  <% if documents.any? %>
      <% documents.each do |document| %>
          <tr>
            <td><%= link_to document.title, document_path(document) %></td>
            <td><%= document.document_type %></td>
            <td><%= document.date %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="9"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>

