<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th><%= t(:title) %></th>
    <th><%= t(:document_type)%></th>
    <th><%= ( :date) %></th>
    <th><%= t :attachment %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if documents.any? %>
      <% documents.each do |document| %>
          <tr>
            <td><%= link_to document.title, document_path(document) %></td>
            <td><%= document.document_type_id %></td>
            <td><%= document.date %></td>
            <td><%= link_to( document.read_attribute(:attachment)  , document.attachment_url) if document.attachment_url %></td>
            <% if @user %>
                <td><%= edit_link( edit_user_document_path(@user, document)) if document.can?(:edit_documents, :manage_documents) %></td>
            <% else %>
                <td><%= edit_link(edit_document_path(document)) if document.can?(:edit_documents, :manage_documents)%></td>
            <% end %>
            <td><%= delete_link( document)  if document.can?(:delete_documents, :manage_documents) %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="9"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>

