<%= link_to 'Delete',  document_path(@document), class: 'btn btn-danger pull-right' ,
            :method => :delete,
            :data => {:confirm => t(:text_are_you_sure)}
%>
<%= link_to 'Edit', edit_document_path(@document), class: 'btn btn-success pull-right' %>
<div class="col-xs-12">

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @document.document_type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @document.date %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @document.attachment %>
</p>
</div>
