<%= form_for(affiliation, html: { class: 'form-horizontal' }) do |f| %>
    <% if affiliation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(affiliation.errors.count, "error") %> prohibited this affiliation from being saved:</h2>

          <ul>
            <% affiliation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <legend>Set Affiliation</legend>
      <%= f.hidden_field :user_id %>
      <div class="form-group">
        <%= f.label t('label_name'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('affiliation_type'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :affiliation_type_id, options_helper(AffiliationType, affiliation.affiliation_type_id) ,{}, {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:label_note), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note, class: 'form-control ckeditor' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), affiliations_path, class: 'btn btn-warning pull-right' %>
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </fieldset>
<% end %>
