<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th><%= t :label_name %></th>
    <th><%= t :affiliation_type %></th>
 </tr>
  </thead>

  <tbody>
  <% if affiliations.any? %>
      <% affiliations.each do |affiliation| %>
          <tr>
            <td><%= link_to affiliation.name, affiliation %></td>
            <td><%= affiliation.affiliation_type %></td>
            </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>

  </tbody>
</table>