<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th><%= t :label_name %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if affiliations.any? %>
      <% affiliations.each do |affiliation| %>
          <tr>
            <td><%= link_to affiliation.name, affiliation %></td>
            <td><%= edit_link( edit_affiliation_path(affiliation))  if affiliation.can?(:edit_affiliations, :manage_affiliations) %></td>
            <td><%= delete_link( affiliation)  if affiliation.can?(:delete_affiliations, :manage_affiliations) %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>

  </tbody>
</table>