<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete', certification_path(@certification), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to 'Edit', edit_certification_path(@certification), class: 'btn btn-success pull-right' %>
  <%= link_to t('button_cancel'), certifications_path, class: 'btn btn-warning pull-right' %>
</div>
<div class="col-xs-12">

  <p>
    <strong>Certification type:</strong>
    <%= @certification.certification_type %>
  </p>



  <p>
    <strong>Date received:</strong>
    <%= @certification.date_received %>
  </p>

  <p>
    <strong>Date expired:</strong>
    <%= @certification.date_expired %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @certification.note.html_safe %>
  </p>


  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @certification.certification_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>

</div>
