<div>
  <%= link_to 'User information', pivot_table_index_path(:for_table=> 'user'), class: 'btn btn-default' %>
  <%= link_to 'Affiliations', pivot_table_index_path(:for_table=> 'affiliation'), class: 'btn btn-default' %>
  <%= link_to 'Clearances', pivot_table_index_path(:for_table=> 'clearance'), class: 'btn btn-default' %>
  <%= link_to 'Certifications', pivot_table_index_path(:for_table=> 'certification'), class: 'btn btn-default' %>
  <%= link_to 'Contacts', pivot_table_index_path(:for_table=> 'contact'), class: 'btn btn-default' %>
  <%= link_to 'Educations', pivot_table_index_path(:for_table=> 'education'), class: 'btn btn-default' %>
  <%= link_to 'Documents', pivot_table_index_path(:for_table=> 'document'), class: 'btn btn-default' %>
  <%= link_to 'Languages', pivot_table_index_path(:for_table=> 'language'), class: 'btn btn-default' %>
  <%= link_to 'Positions', pivot_table_index_path(:for_table=> 'position'), class: 'btn btn-default' %>
  <%= link_to 'Tasks', pivot_table_index_path(:for_table=> 'task'), class: 'btn btn-default' %>
  <%= link_to 'Checklists', pivot_table_index_path(:for_table=> 'checklist'), class: 'btn btn-default' %>
</div>