<%= form_for resource, as: resource_name, url: session_path(resource_name), html: {id: 'login-form', class: "smart-form client-form" } do |f| %>
    <header>
      Sign In  with <%= link_to 'OFFICE365', '/users/auth/office365'  %> OR
    </header>

    <fieldset>

      <section>
        <label class="label"><%= t :login %></label>
        <label class="input"> <i class="icon-append fa fa-user"></i>
          <%= f.text_field :login, autofocus: true %>
          <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter username</b></label>
      </section>

      <section>
        <label class="label">Password</label>
        <label class="input"> <i class="icon-append fa fa-lock"></i>
          <%= f.password_field :password, autocomplete: "off" %>
          <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
        <div class="note">
          <a href="<%= new_password_path(resource_name) %>">Forgot password?</a>
        </div>
      </section>
      <section>
        <% if ENV['RECAPTCHA_PUBLIC_KEY']  %>
            <%= recaptcha_tags :public_key => ENV['RECAPTCHA_PUBLIC_KEY'] %>
        <% end %>
      </section>

      <% if devise_mapping.rememberable? -%>
          <section>
            <label class="checkbox">
              <%= f.check_box :remember_me %>
              <i></i>Stay signed in</label>
          </section>
      <% end -%>


    </fieldset>
    <footer>
      <button type="submit" class="btn btn-primary">
        Sign in
      </button>
    </footer>
<% end %>
