<div class="col-md-12">
  <legend>Question <%= link_to_remove_association "Remove Question", f, class: 'btn btn-warning pull-right' %></legend>
  <div class="field">
    <div class="form-group">
      <%= f.label 'Text', class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :text, class: 'form-control' %>
      </div>
    </div>


    <%= f.fields_for :options do |builder| %>
        <%= render "option_fields", :f => builder %>
    <% end -%>
    <div class="options">
      <%= link_to_add_association "Add a new Option", f, :options,  class: 'btn btn-success margin-bottom-10' %>
    </div>
  </div>
</div>