<h1>Roles</h1>

<%= link_to 'New Role', new_role_path, class: 'btn btn-success pull-right' %>

<table class="table table-responsive table-bordered">
  <thead>
  <tr>
    <th><%= t :enumeration_role_type %></th>
    <th>State</th>
    <th><%= t :label_note %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if @roles.any? %>
      <% @roles.each do |role| %>
          <tr>
            <td><%= role.role_type %></td>
            <td><%= role.state %></td>
            <td><%= role.note %></td>
            <td><%= edit_link edit_role_path(role) %></td>
            <td><%= delete_link role %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
