<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @core_demographic.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @core_demographic.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @core_demographic.middle_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @core_demographic.gender_id %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @core_demographic.birth_date %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @core_demographic.religion_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @core_demographic.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @core_demographic.note %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @core_demographic.ethnicity_id %>
</p>

<%= link_to 'Edit', edit_core_demographic_path(@core_demographic) %> |
<%= link_to 'Back', core_demographics_path %>
