<% @answers.each do |answer| %>
    <div class="row">
      <div class="col-xs-10">
        <p>
          <strong><%= answer.user %>: <span style="color: blueviolet;"> <%= answer.created_at.to_date %> </span></strong>
          <%= answer.answer.html_safe %>
        </p>
      </div>
      <div class="col-xs-2">
        <%= link_to "<i class='fa fa-lg fa-edit'></i>".html_safe, edit_answer_survey_path(@survey, answer_id:answer.id ) %>
        <%= link_to "<i class='fa fa-lg fa-trash-o'></i>".html_safe, delete_answer_survey_path(@survey, answer_id:answer.id), {
            :method => :delete,
            :data => {:confirm => t(:text_are_you_sure)}
        } %>
      </div>
    </div>
    <hr/>
<% end %>