<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete',  checklist_template_path(@checklist), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to t('button_cancel'), checklist_templates_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), checklist_template_path(@checklist, format: 'pdf'), class: 'btn btn-primary pull-right' %>
  <%= link_to 'New note' , new_note_checklist_template_path(@checklist), class: 'btn btn-primary pull-right' %>
</div>
<% checklist = @checklist %>
<section id="widget-grid" class="checklists_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         checklist: @checklist,
                         wid_id: 'checklist',
                         wid_title: 'New checklist'
                 } %>
    </article>
  </div>
</section>

<% notes = checklist.notes(User.current.id) %>
<% if notes.any? %>
    <section id="widget-grid" class="form_note_list">
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'notes/notes',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         notes: checklist.notes(User.current.id),
                         wid_id: 'note_lists',
                         wid_title: 'Notes'
                     } %>
        </article>
      </div>
    </section>

<% end %>
