<%= form_for(organization, html: { class: 'form-horizontal' }) do |f| %>
    <% if organization.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

          <ul>
            <% organization.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <legend>Set Organization</legend>
      <%= f.hidden_field :user_id %>
      <div class="form-group">
        <%= f.label t('label_name'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('organization'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :organization_type_id, options_helper(OrganizationType, organization.organization_type_id) ,{}, {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address_id, class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :organization_type_id, options_helper(AddressType, organization.address_type_id) ,{}, {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:label_note), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :contact_id , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.number_field :contact_id, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </fieldset>
<% end %>
