<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th><%= t :label_name %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if organizations.any? %>
      <% organizations.each do |organization| %>
          <tr>
            <td><%= link_to organization.name, organization %></td>
            <% if @user %>
                <td><%= edit_link (edit_user_organization_path(@user, organization))  if organization.can?(:edit_organizations, :manage_organizations) %></td>
            <% else %>

                <td><%= edit_link( edit_organization_path(organization))  if organization.can?(:edit_organizations, :manage_organizations) %></td>
            <% end %>
            <td><%= delete_link( organization)  if organization.can?(:delete_organizations, :manage_organizations) %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>

  </tbody>
</table>