<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th><%= t :label_name %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if organizations.any? %>
      <% organizations.each do |organization| %>
          <tr>
            <td><%= link_to organization.name, organization %></td>
            <td><%= edit_link( edit_organization_path(organization)) %></td>
            <td><%= delete_link( organization)%></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>

  </tbody>
</table>