<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete',  organization_path(@organization), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-success pull-right' %>
  <%= link_to t('button_cancel'), organizations_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), organization_path(@organization, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>
<div class="col-xs-12">
  <p>
    <strong>Name:</strong>
    <%= @organization.name %>
  </p>
  <p>
    <strong> <%= t :organization_type %></strong>
    <%= @organization.organization_type %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @organization.note.html_safe %>
  </p>

  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @organization.organization_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>

  <%= render_extend_demography_information(@organization.organization_extend_demography) %>
</div>