
<h1>clearances</h1>
<%= link_to( 'New clearance', new_clearance_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_clearances)%>
<table class="table table-responsive table-bordered">
  <thead>
  <tr>
    <th>Clearance type</th>
    <th>Date received</th>
    <th>Date expired</th>
  </tr>
  </thead>

  <tbody>
  <% if @clearances.any? %>
      <% @clearances.each do |clearance| %>
          <tr>
            <td><%= link_to clearance.clearence_type, clearance_path(clearance)%></td>
            <td><%= clearance.date_received %></td>
            <td><%= clearance.date_expired %></td>

          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>
