<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete', clearance_path(@clearance), class: 'btn btn-danger pull-right' ,
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to 'Edit', edit_clearance_path(@clearance), class: 'btn btn-success pull-right' %>
  <%= link_to t('button_cancel'), certifications_path, class: 'btn btn-warning pull-right' %>
</div>
<div class="col-xs-12">

  <p>
    <strong>clearance type:</strong>
    <%= @clearance.clearence_type %>
  </p>

  <p>
    <strong>Date received:</strong>
    <%= @clearance.date_received %>
  </p>

  <p>
    <strong>Date expired:</strong>
    <%= @clearance.date_expired %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @clearance.note.html_safe %>
  </p>

  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @clearance.clearance_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>

</div>