<%= link_to 'Delete', clearance_path(@clearance), class: 'btn btn-danger pull-right' ,
            :method => :delete,
            :data => {:confirm => t(:text_are_you_sure)}
%>
<%= link_to 'Edit', edit_clearance_path(@clearance), class: 'btn btn-success pull-right' %>
<div class="col-xs-12">

  <p>
    <strong>clearance type:</strong>
    <%= @clearance.clearence_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @clearance.user %>
  </p>

  <p>
    <strong>Date received:</strong>
    <%= @clearance.date_received %>
  </p>

  <p>
    <strong>Date expired:</strong>
    <%= @clearance.date_expired %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @clearance.note %>
  </p>
  
  <p>
    <strong>File:</strong>
    <%= @clearance.file_url %>
  </p>

</div>