<% if EducationType.count.zero? %>
    <h2>Education Type must be present</h2>
<% end %>
<% if ClearenceType.count.zero? %>
    <h2>Clearence Type must be present</h2>
<% end %>
<%= form_for(education, html: { class: 'form-horizontal' }) do |f| %>
    <% if education.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(education.errors.count, "error") %> prohibited this education from being saved:</h2>

          <ul>
            <% education.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <legend>Set education</legend>

      <% if current_user.admin? %>
          <div class="form-group">
            <%= f.label :user_id, class: 'col-md-2 control-label' %>
            <div class="col-md-9">
              <%= f.select :user_id,options_for_select(User.pluck(:login, :id), selected: education.user_id), {} ,{class: 'form-control'} %>
            </div>
          </div>
      <% else %>
          <%= f.hidden_field :user_id %>
      <% end %>
      <div class="form-group">
        <%= f.label t('education_type'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :education_type_id, options_for_select(EducationType.pluck(:name, :id), selected: education.education_type), {},{ class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:education_certification), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :certification, options_for_select(Education::Certification::ARRAY, selected: education.certification),{}, {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('education_other_skill') , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :other_skill, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('education_date_received'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_recieved , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:education_date_expired), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :date_expired , class: 'form-control date_picker' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:label_note) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :note , class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t(:education_clearence) , class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.select :clearence, options_for_select(ClearenceType.pluck(:name, :id), selected: education.clearence) ,{}, {class: 'form-control' }%>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-11">
          <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </fieldset>
<% end %>
<script>
  $(function(){
    $('.date_picker').datepicker({ dateFormat: 'dd-mm-yy' })
  })
</script>