<table class="table table-responsive table-bordered">
  <thead>
  <tr>
    <th><%= t :education_type %></th>
    <th><%= t :education_certification %></th>
    <th><%= t :education_other_skill %></th>
    <th><%= t :education_date_received %></th>
    <th><%= t :education_date_expired %></th>
    <th><%= t :label_note %></th>
    <th><%= t :education_clearence %></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% if educations.any? %>
      <% educations.each do |education| %>
          <tr>
            <td><%= education.education_type %></td>
            <td><%= education.certification %></td>
            <td><%= education.other_skill %></td>
            <td><%= education.date_recieved %></td>
            <td><%= education.date_expired %></td>
            <td><%= education.note %></td>
            <td><%= education.clearence_type %></td>
            <td><%= edit_link(edit_education_path(education))  if education.can?(:edit_educations, :manage_educations) %></td>
            <td><%= delete_link( education)  if education.can?(:delete_educations, :manage_educations) %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>