<table class="table table-responsive table-bordered">
  <thead>
  <tr>
    <th><%= t :education_type %></th>
    <th><%= t :education_date_received %></th>
    <th><%= t :education_date_expired %></th>
  </tr>
  </thead>

  <tbody>
  <% if educations.any? %>
      <% educations.each do |education| %>
          <tr>
            <td><%= link_to education.education_type, education_path(education) %></td>
            <td><%= education.date_recieved %></td>
            <td><%= education.date_expired %></td>
          </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>