
<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete', education_path(@education), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to 'Edit', edit_education_path(@education), class: 'btn btn-success pull-right' %>
  <%= link_to t('button_cancel'), educations_path, class: 'btn btn-warning pull-right' %>
</div>
<div class="col-xs-12">

<p>
  <strong>Education type:</strong>
  <%= @education.education_type %>
</p>

<p>
  <strong>Date recieved:</strong>
  <%= @education.date_recieved %>
</p>

<p>
  <strong>Date expired:</strong>
  <%= @education.date_expired %>
</p>

<p>
  <strong>Note:</strong>
  <%= @education.note.html_safe %>
</p>


  <p>
    <strong><%= t('attachments') %>:</strong>
    <% @education.education_attachments.each do |attachment| %>
        <%= render 'attachments/attachment_show_only', :attachment => attachment %>
    <% end %>
  </p>
</div>