<%= form_for(identification, html: { class: 'form-horizontal' }) do |f| %>
  <% if identification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(identification.errors.count, "error") %> prohibited this identification from being saved:</h2>

      <ul>
      <% identification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :identification_number, class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :identification_number,  class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :status, class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.check_box :status ,  class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date_expired , class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :date_expired ,  class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :issued_by , class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.text_field :issued_by ,  class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :note , class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.text_area :note ,  class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :identification_type_id, class: 'col-md-2 control-label' %>
      <div class="col-md-9">
        <%= f.number_field :identification_type_id %>
      </div>
    </div>
    <div class="form-group" >
      <div class="col-md-11">
        <%= f.submit t('button_save'), class: 'btn btn-primary pull-right' %>
      </div>
    </div>
<% end %>
