<p id="notice"><%= notice %></p>

<h1>Identifications</h1>

<table>
  <thead>
    <tr>
      <th>Identification number</th>
      <th>Status</th>
      <th>Date expired</th>
      <th>Issued by</th>
      <th>Note</th>
      <th>Identification type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @identifications.each do |identification| %>
      <tr>
        <td><%= identification.identification_number %></td>
        <td><%= identification.status %></td>
        <td><%= identification.date_expired %></td>
        <td><%= identification.issued_by %></td>
        <td><%= identification.note %></td>
        <td><%= identification.identification_type_id %></td>
        <td><%= link_to 'Show', identification %></td>
        <td><%= link_to 'Edit', edit_identification_path(identification) %></td>
        <td><%= link_to 'Destroy', identification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Identification', new_identification_path %>
